.screen{
    height: 60px;
    border-radius: 10px;
    border: 3px inset #fff;
    margin: 4px;
    background: #000000;
    background: linear-gradient(180deg, #000000 3%,#568AFF 10% , #4168C0 15% , #031222 100%);
}