
.App{
  max-width: 950px;
  margin: 0 auto;
  padding: 10px;
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.calculadora{
  background: #e1e1e1;
  width: 400px;
  height: 600px;
  border: 2px solid #eee;
  border-radius: 20px;
  padding: 15px;
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}